<div *ngIf="selectedFile">
    <progress class="progress is-success" min=1 max=100 value="{{ currentFile?.firmware?.progress }}"></progress>
    Progress: {{currentFile?.firmware?.fileName}} | {{currentFile?.firmware?.progress}}% Complete
</div>
<div class="box">
    <label>
       <input type="file" (change)="detectFiles($event)">
    </label>
    <button
            [disabled]="!selectedFile"
            (click)="doUploadFile()">
      Upload Single
    </button>
</div>
<hr>
<label> Select the Bucket: </label><br>
<select [ngModel]="fileEnvList.production" (ngModelChange)="doLoadPeripheral($event)">
  <option >{{ fileEnvList.production }}</option>
  <option >{{ fileEnvList.archived }}</option>
  <option >{{ fileEnvList.staging }}</option>
  <option >{{ fileEnvList.uploaded }}</option>
</select>
<br><br>
<button
            (click)="doDownloadZip()">
      Download ZIP
    </button>
